/* navbar */
nav {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#333;
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  border-bottom: 1px rgb(19, 2, 2);
}

header img{
  width: 75px;
  margin-left: 25px;
}

/* featurebar */
nav ul{
    float: right;
    display: flex;
    list-style: none;
}

/* cssfeaturebar */
nav ul li a{
    color: rgb(250, 248, 248);
    line-height: 50px;
    padding: 12px 30px;
    font-size: 15px;
    font-family: "Helvetica";
    text-decoration: none;
    border-radius: 6px;
    margin-right: 30px;
}

nav ul li a:hover{
    background-color: black;
}
body {margin:0;
padding:0;}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none; overflow: visible;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1600px;
    position: relative;
    margin: auto;
  }
.mySlides img{
    width: 100%;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 90px;
    margin: auto;
    max-width: 1600px;
    min-width: 900px;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* About Us*/
  .flex-container {
    display: flex;
    align-items: center;
    padding-left: 50px;
    width: 1300px;
    margin-top: 40px;
    margin-bottom: 50px;
    }
    
    .flex-container img{
      width: 600px;
      height: 400px;
      align-content: center;
    }
    
    .flex-container div img{
      margin-left: 0px;
      margin-top: 0px;
    }
    .flex-container > div {
    margin: 10px;
    margin-top: 1px;
    padding: 10px;
    font-size: 16px;
    text-align: justify;
    margin-right: 60px;
    }
    .flex-container div button{
    background-color: #333;
    color: white;
    padding: 4px 10px;
    }
    .flex-container div button:hover{
    background-color: #555555;
    color: white;
    cursor: pointer;
    }
  
    .menu h1 {
      text-align: center;
    }

    .flex-container1 {
      display: flex;
      justify-content: space-around;
      background-color: white;
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
    
    .flex-container1 > div {
      background-color: gainsboro;
      width: 200px;
      height: 150px;
      margin: 10px;
      text-align: center;
      line-height: 15px;
      font-size: 12px;
      max-width: 100%;
      height: auto;
      font-family: Helvetica;
    }
    .flex-container1 div img{
      margin-bottom: 10px;
      max-width: 100%;
      height: 135px;
      width: 100%;
      font-family: Helvetica;
    }

  .footer {
    background-color: #333;
    padding: 5px;
    text-align: center;
    color: white;
  }

  .footer table {
    width:100%;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Arial;
  }

  @media screen and (max-width: 480px) {
    nav {
      z-index: 2;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:#333;
      width: 100%;
      height: 120px;
      position: fixed;
      top: 0;
      border-bottom: 1px rgb(19, 2, 2);
    }
    
    header img{
      width: 100px;
      margin-left: 40px;
      margin-top: 12px;
    }
    
    /* featurebar */
    nav ul{
        float: right;
        display: flex;
        list-style: none;
        margin-top: 37px;
    }
    
    /* cssfeaturebar */
    nav ul li a{
        color: rgb(250, 248, 248);
        line-height: 50px;
        padding: 12px 30px;
        font-size: 24px;
        font-family: "Helvetica";
        text-decoration: none;
        border-radius: 6px;
        margin-right: 30px;
    }
    
    nav ul li a:hover{
        background-color: black;
    }
  /* Slideshow container */
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none; overflow: visible;}
  img {vertical-align: middle;}
  
  .slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
  }
  .mySlides img{
    width: 1500px;  
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 90px;
    margin: auto;
  }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      border-radius: 3px 0 0 3px;
      float: right;
      position: absolute;
      left: 350%;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
  
    .dot {
      cursor: pointer;
      height: 20px;
      width: 20px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      position: relative;
      left: 130%;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
  
    .flex-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-left: 50px;
      width: 1410px;
      margin-top: 40px;
      }
      .flex-container h1 {
        text-align: center;
      }
      
      .flex-container img{
        width: 1050px;
        height: auto;
        align-content: center;
      }
      
      .flex-container div img{
        margin-left: 0px;
        margin-top: 0px;
      }
      .flex-container > div {
      margin: 10px;
      margin-top: 1px;
      padding: 10px;
      font-size: 20px;
      text-align: justify;
      margin-right: 120px;
      margin-left: 120px;
      }
      .flex-container div button{
      background-color: #333;
      color: white;
      padding: 4px 10px;
      }
      .flex-container div button:hover{
      background-color: #555555;
      color: white;
      cursor: pointer;
      }
      
      .menu h1 {
        text-align: center;
        position: relative;
        left: 125%;
        font-size: 36px;
      }
      .footer {
        background-color: #333;
        padding: 5px;
        text-align: center;
        color: white;
        width: 1500px;
      }
      
      .footer table {
        width:100%;
        color: white;
        margin-top: 33px;
        margin-bottom: 20px;
        font-size: 21px;
        padding-left: 80px;
        padding-right: 80px;
        font-family: Arial;
        position: relative;
      }
  }
  @media only screen and (max-width: 375px) {
    .next {
      border-radius: 3px 0 0 3px;
      float: right;
      position: absolute;
      left: 381%;
    }
    .prev {
      position: absolute;
      left: 8%
    }
    .dot{
      position: relative;
      left: 165%;
      top: 30px;
      width: 26px;
      height: 26px;
    }
    .menu h1{
      left: 570px;
      font-size: 36px;
    }
    .footer{
      width: 1560px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .dot {
      position: relative;
      left: 550px;
      top: 30px;
      width: 26px;
      height: 26px;
    }
    .flex-container{
      margin-left: 25px;
      margin-top: 70px;
    }
    .flex-container img {
      width: 1080px;
    }
    .menu h1 {
      left: 550px;
      font-size: 36px;
    }
    .footer {
      position: fixed;
      bottom: 0%;
      left: 4px;
      width: 1550px;
    }
  }

  @media only screen and (max-width: 430px) {
    .slideshow-container {
      max-width: 980px;
      position: relative;
      margin: auto;
    }
    .mySlides img{
      width: 1535px;  
      display: block;
      margin-left: auto;
      margin-right: auto; 
      margin-top: 90px;
      margin: auto;
    }
    .prev {
      position: absolute;
      left: 50px;
    }
    .next{
      position: absolute;
      left: 335%;
    }
    .dot {
      position: relative;
      top: 20px;
      width: 26px;
      height: 26px;
    }
    .flex-container {
      margin-left: 40px;
      margin-top: 40px;
      width: 1450px;
    }
    .flex-container img {
      width: 1115px;
    }
    .menu h1 {
      left: 560px;
      font-size: 36px;
    }
    .footer {
      position: fixed;
      bottom: 0%;
      width: 1550px;
    }
  }

  @media only screen and (max-width: 412px) {
    .next{
      position: absolute;
      left: 1450px;
    }
    .dot {
      position: relative;
      left: 600px;
    }
    .flex-container {
      width: 1400px;
    }
    .flex-container img {
      width: 1070px;
    }
  }
  @media only screen and (max-width: 360px) {
    .dot {
      position: relative;
      left: 650px;
    }
    .flex-container {
      margin-left: 10px; 
    }
    .flex-container img {
      width: 1090px;
    }
    .menu h1 {
      left: 550px;
      font-size: 36px;
    }
    .footer {
      position: fixed;
      margin-left: 5px;
      width: 1450px;
    }
  }